:root {
  font-family: monospace;
  font-size: 1rem;
  background-color: wheat;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header,
main,
footer {
  width: 70ch;
  max-width: 100%;
  margin-inline: auto;
}

main {
  margin-bottom: 2rem;
}

footer {
  padding-block: 1rem;
  margin-top: auto;
  text-align: center;
}

a {
  color: brown;
}

a:not(:hover) {
  text-decoration: none;
}

h3, h4 {
  color: white;
  text-shadow: 1px 1px black;
}

pre {
  border-radius: .5em;
  box-shadow: 0 0 200px rgba(0 0 0 / 20%);
}

input, button {
  padding: 1ch 1.5ch;
  border: 0;
  border-radius: 0.25em;
  box-shadow: 1px 1px gray;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font: inherit;
}

input {
  background-color: rgba(239, 239, 239, 0.3);
}

input:disabled {
  opacity: .5;
  cursor: not-allowed;
}

input + button {
  margin-left: .5em;
}

button {
  background-color: #f5f2f0;
  cursor: pointer;
}

button:hover {
  background-color: #ebe7e5;
}

textarea {
  background: transparent;
  font: inherit;
  width: 99%;
  border: 0;
}

textarea:focus-visible {
  outline: 0;
}